h1 {
  text-align: left;
  font-size: 2em;
  font-weight: 500;
  margin: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
  padding: 0px;
  margin: 0px;
}

html {
  all: unset;
}

#top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
  border: solid 1px;
  border-color: lightgray;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 8px 16px;
  cursor: pointer;
}

#videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3em;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.video-player {
  width: 100%;
  height: 50vh;
  border: 2px solid red;
  background-color: #555;
}

#feedback {
  font-weight: 500;
}

#skip-btn {
  margin: 10px 0;
  border: 1px solid #333;
  background-color: #4285f4;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

#skip-btn:active {
  background-color: #007aff;
}

#main {
  display: flex;
  flex-direction: column;
}
